.footer{
    background: #111;
    margin-top: 40px;
    padding: 50px 0;
}
.footer ul{
    text-align: start;
}
.footer ul li{
    list-style: none;
    color: #fff;
}
.footer-link{
    color: #fff;
    
    text-decoration: none;
}